@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #FEE8B9;
    background-image: url('https://uploads.zibazi.tv/site/assets/images/icons/patern/paternDashboard.webp');
    background-size: contain;
}

/* Hide scrollbar */
.hideScroll::-webkit-scrollbar {
    display: none;
  }
  
  .hideScroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @media only screen and (min-height: 100vw) {
    #rotate {
      /* background-image: url('https://uploads.zibazi.tv/site/assets/images//icons/dashboard/پترن.webp'); */
      /* background-color: #fde296; */
      display: flex;
      color: #000000a4;
    }
  }